@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgba(183, 255, 165, 0.726);
  --btn-color: rgb(74, 222, 128);
  --btn-color-hover: rgb(65, 197, 114);
  --txt-pri-color: rgb(75, 85, 99);
}
